# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [3]:
# Display all numbers from 0 to 100 

for i in range(1):
    print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Display all numbers from 100 to 0

In [7]:
# Display all numbers from 100 to 0 
for i in range(1):
    print(list(range(101))[::-1])

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Display all even numbers from 2 to 100

In [8]:
# Display all even numbers from 2 to 100  
for i in range(1):
    print(list(range(101))[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Display all odd numbers from 1 to 99

In [12]:
# Display all odd numbers from 1 to 99  
for i in range(101):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [13]:
# Display all numbers from 1 to 500.
for i in range(501):
    if i % 2 == 1:
        print(i, "odd")
    else:
        print(i, "even")

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd
100 even
101 odd
102 even
103 odd
104 even
105 odd
106 even
107 odd
108 even
109 odd
110 even
111 odd
112 even
113 odd
114 even
115 odd
116 even
117 odd
118 even
119 odd
120 even
121 odd
122 even
123 odd
124 even
125 odd
126 even
127 odd
128 even
129 odd
130 even
131 odd
132 even
133 odd
134 even
135 odd
136 even
137 odd
138 even
139 odd
140 even
141 odd
142 even
143 odd
144 even
145 odd
146 even
147 odd
148 even
149 odd
150 even
151 odd
152 even
153 odd
154 even
155 odd
156 even
157 odd
158 even
159 odd
160 even
161 odd
162 even
163 odd
164 even
165 odd
166 even
167 odd
168 even
169 odd
170 even
171 odd
172 even
173 odd
174 even
175 odd
176 even
177 odd
178 even
179 odd
180 even
181 odd
182 even
183 odd
184 even
185 odd
186 even
187 odd
188 even
189 odd
190 even
191 odd
192 even
193 odd
194 even
195 odd
196 even
197 odd
198 even
199 odd
200 even
201 odd
202 even
203 odd
204 even
205 odd
206 even
207 odd
208 even
209 odd
210 even
211 odd
212 even
213 odd
214 even
215 odd
216 even
217 odd
218 even
219 odd
220 even
221 odd
222 even
223 odd
224 even
225 odd
226 even
227 odd
228 even
229 odd
230 even
231 odd
232 even
233 odd
234 even
235 odd
236 even
237 odd
238 even
239 odd
240 even
241 odd
242 even
243 odd
244 even
245 odd
246 even
247 odd
248 even
249 odd
250 even
251 odd
252 even
253 odd
254 even
255 odd
256 even
257 odd
258 even
259 odd
260 even
261 odd
262 even
263 odd
264 even
265 odd
266 even
267 odd
268 even
269 odd
270 even
271 odd
272 even
273 odd
274 even
275 odd
276 even
277 odd
278 even
279 odd
280 even
281 odd
282 even
283 odd
284 even
285 odd
286 even
287 odd
288 even
289 odd
290 even
291 odd
292 even
293 odd
294 even
295 odd
296 even
297 odd
298 even
299 odd
300 even
301 odd
302 even
303 odd
304 even
305 odd
306 even
307 odd
308 even
309 odd
310 even
311 odd
312 even
313 odd
314 even
315 odd
316 even
317 odd
318 even
319 odd
320 even
321 odd
322 even
323 odd
324 even
325 odd
326 even
327 odd
328 even
329 odd
330 even
331 odd
332 even
333 odd
334 even
335 odd
336 even
337 odd
338 even
339 odd
340 even
341 odd
342 even
343 odd
344 even
345 odd
346 even
347 odd
348 even
349 odd
350 even
351 odd
352 even
353 odd
354 even
355 odd
356 even
357 odd
358 even
359 odd
360 even
361 odd
362 even
363 odd
364 even
365 odd
366 even
367 odd
368 even
369 odd
370 even
371 odd
372 even
373 odd
374 even
375 odd
376 even
377 odd
378 even
379 odd
380 even
381 odd
382 even
383 odd
384 even
385 odd
386 even
387 odd
388 even
389 odd
390 even
391 odd
392 even
393 odd
394 even
395 odd
396 even
397 odd
398 even
399 odd
400 even
401 odd
402 even
403 odd
404 even
405 odd
406 even
407 odd
408 even
409 odd
410 even
411 odd
412 even
413 odd
414 even
415 odd
416 even
417 odd
418 even
419 odd
420 even
421 odd
422 even
423 odd
424 even
425 odd
426 even
427 odd
428 even
429 odd
430 even
431 odd
432 even
433 odd
434 even
435 odd
436 even
437 odd
438 even
439 odd
440 even
441 odd
442 even
443 odd
444 even
445 odd
446 even
447 odd
448 even
449 odd
450 even
451 odd
452 even
453 odd
454 even
455 odd
456 even
457 odd
458 even
459 odd
460 even
461 odd
462 even
463 odd
464 even
465 odd
466 even
467 odd
468 even
469 odd
470 even
471 odd
472 even
473 odd
474 even
475 odd
476 even
477 odd
478 even
479 odd
480 even
481 odd
482 even
483 odd
484 even
485 odd
486 even
487 odd
488 even
489 odd
490 even
491 odd
492 even
493 odd
494 even
495 odd
496 even
497 odd
498 even
499 odd
500 even

Display all multiples of 7 from 0 to 70

In [15]:
# Display all multiples of 7 from 0 to 777
for i in range(1):
    print(list(range(778))[::7])

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777]

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [29]:
# Your Code Here
year = 2024
age = 13
for i in range(13):
    print(f"In {year-age} I was {(i)}")
    age-=1

In 2011 I was 0
In 2012 I was 1
In 2013 I was 2
In 2014 I was 3
In 2015 I was 4
In 2016 I was 5
In 2017 I was 6
In 2018 I was 7
In 2019 I was 8
In 2020 I was 9
In 2021 I was 10
In 2022 I was 11
In 2023 I was 12

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [1]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7)
(4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (4,7)
(5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (5,7)
(6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6) (6,7)
(7,0) (7,1) (7,2) (7,3) (7,4) (7,5) (7,6) (7,7)

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [3]:
for i in range(3):
    for w in range(3):
        print(f"I: {i} W: {w}")

I: 0 W: 0
I: 0 W: 1
I: 0 W: 2
I: 1 W: 0
I: 1 W: 1
I: 1 W: 2
I: 2 W: 0
I: 2 W: 1
I: 2 W: 2

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [8]:
num = 0
for x in range(3):
    for i in range(3):
      num+=1   
      print(num, end = " ")
    print()

1 2 3
4 5 6
7 8 9

Display the numbers 1 through 100 in a 10x10 square grid.

In [1]:
num = 0
for i in range(10):
    for x in range(10):
        num+=1
        print(num, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [38]:

for i in range(7):
    print("*"*i)

*
**
***
****
*****
******